{{page-title 'EmberPerkGridExample'}}
<nav>
  <ul>
    <li>
      <LinkTo @route="custom-element">
        Custom Element
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="apis">
        APIs
      </LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}