<h1>
  Getting Started
</h1>
<section>
  <h2>
    Installation
  </h2>
  <h3>
    Yarn
  </h3>
  <h3>
    NPM
  </h3>
  <h3>
    Script Tag
  </h3>
</section>
<section>
  <h2>
    Usage
  </h2>
  <h3>
    Custom Element
  </h3>
  <h3>
    Using APIs
  </h3>
</section>