<h1>
  Event Perk Grid
</h1>
<p>
  This package provides a framework-agnostic utility for reading and displaying a grid of sponsorship packages and their perks using data
  from the
  <a href="https://events-app.tilde.io/">
    Tilde Events App
  </a>
  API.
</p>