{{page-title 'Importing Custom Element'}}
<h2 {{anchor}}>
  Registering the Perk Grid element with an import statement
</h2>
<p>
  Register the
  {{code '<perk-grid>'}}
  element using an
  {{code 'import'}}
  statement, then invoke the element in your template.
  Optionally, you can also import this library's CSS file to provide minimal CSS grid styles.
</p>
<PerkGridElementDocs />
<Example @component="import-custom-element" />