{{!-- FIXME: Links, styles --}}
<p>
  This library can be used in at least three ways:
  <ol>
    <li>
      Register a custom <code>perk-grid</code> element using a script tag, then invoke the custom element in your html.
    </li>
    <li>
      Register a custom <code>perk-grid</code> element using an `import` statement, then invoke the custom element in your html.
    </li>
    <li>
      Import <code>fetchData</code> and/or <code>render</code> methods directly for a custom implementation.
    </li>
  </ol>
</p>