<div class="code-block"...attributes>
  {{#if @file}}
    <div class="code-block-header">
      {{@file}}
    </div>
  {{/if}}
  <div class="code-block-body">
    <pre class="code-block-pre hljs"><code>{{this.highlightedText}}</code></pre>
    <i
      class="code-block-clipboard las
        {{if this.copyText.isRunning 'la-clipboard-check copied' 'la-clipboard'}}"
      {{on 'click' (perform this.copyText)}}
    ></i>
  </div>
</div>