.code-block {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--gray-25);
  outline: 1px solid var(--gray-50);
}

.code-block-header {
  padding: 10px;
  border-bottom: 1px solid var(--gray-50);
  font-size: 12px;
}

.code-block-body {
  display: grid;
  grid-template-columns: auto 35px;
}

.code-block-clipboard {
  margin: 10px;
}

pre {
  padding: 10px;
  font-size: 14px;
}

pre.copyable {
  margin-right: 20px;
}

.copyable:hover {
  cursor: copy;
}

.code-block pre {
  margin: 0;
}
