body {
  min-height: 100vh;
  background-color: var(--gray-25);
}

.application-container {
  --main-header-height: 86px;

  display: grid;
  grid-template-columns: [main-start full-start] auto [main-end sidebar-start] 180px [sidebar-end full-end];
  grid-column-gap: 18px;
  grid-template-rows: [header-start] 40px [header-end];
  margin: 18px auto;
  padding: 10px 18px;
  background: white;
}

@media (min-width: 640px) {
  .application-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .application-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .application-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .application-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .application-container {
    max-width: 1536px;
  }
}

.application-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 16px;
  grid-column: full-start / full-end;
}

.application-header h1 {
  font-size: inherit;
}

.application {
  display: grid;
  grid-template-rows: var(--main-header-height);
}

.application-nav {
  margin-top: var(--main-header-height);
  padding-left: 16px;
  border-left: 1px solid var(--gray-25);
}

.application-nav-list {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.application-nav-section {
  list-style: none;
  padding-left: 18px;
  font-size: 14px;
}
