/* stylelint-disable custom-property-empty-line-before */

:root {
  /* COLORS */

  --white: #fff;

  --black: #323333;
  --black-75: #5b5c5c;
  --black-50: #727579;
  --black-25: #a9adaf;

  --gray: #b9c2c4;
  --gray-75: #c7ced0;
  --gray-50: #dadedf;
  --gray-25: #f0f1ee;

  --green: #92c282;
  --green-75: #aed2a2;
  --green-50: #c5d9b5;
  --green-25: #e0ebd5;

  --neutral-blue: #577e9e;
  --neutral-blue-75: #798ea1;
  --neutral-blue-50: #a4b2c6;
  --neutral-blue-25: #d5dfe7;

  --orange: #f38d36;
  --orange-75: #f6aa69;
  --orange-50: #f9c69a;
  --orange-25: #fce2cd;

  --plum: #c1335d;
  --plum-75: #d16686;
  --plum-50: #f8c4cb;
  --plum-25: #efccd6;

  --purple: #92407e;
  --purple-75: #ae709f;
  --purple-50: #b48da3;
  --purple-25: #d3bfc9;

  --red: #ec1a3b;
  --red-75: #f1546c;
  --red-50: #f59687;
  --red-25: #f4c4b5;

  --tilde-blue: #00adc4;
  --tilde-blue-75: #2bb5bf;
  --tilde-blue-50: #7fcace;
  --tilde-blue-25: #bfeaf0;

  --yellow: #fddc0d;
  --yellow-75: #fee54a;
  --yellow-50: #feed86;
  --yellow-35: #fef6be;
  --yellow-25: #fef6c2;
}
